<div class="container">
<h1 class="alignCenter">Post-Fix Calculator</h1>
<div class="bodyPadding">
  <label class="labelStyle" for="inputPattern">{{inputLabel}}</label>
  <input class="iField" [(ngModel)]="inputPatt" type="text" placeholder="enter a pattern">
  <button class="button" type="button" (click)="calc(inputPatt)">Calulate</button>
</div>
<br><br>
<div class="bodyPadding">
<label class="labelStyle" for="output">{{outputLabel}}</label><br>
<div class="invalidMsg" *ngIf="invalidflag">{{invalidPatterntext}}</div><br> 
<div *ngFor="let val of finalStack">
  <div class="blockStyle"><strong>{{val}}</strong></div>
</div>
</div>
<br><br>
<div class="btnPadding" *ngIf="flag">
  <button class="iField button" (click)="clearStack()">Clear Stack</button>
  <button class="button" (click)="dropStack()">Drop stack</button>
  <button class="iField button" (click)="swapStack()">Swap Stack</button>
  <button class="button" (click)="rollStack()">Roll Stack</button>
</div>
</div>
<router-outlet></router-outlet>
