.iField {
    margin: 0 10px;
  }
  
  .blockStyle {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    background-color: orange;
  }
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 0 10px;
    cursor: pointer;
  }
  .labelStyle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    padding: 0 10px 0 0;
  }
  input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=text]:focus {
    border: 3px solid #555;
  }
  .invalidMsg {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    font-size: 20px;
  }
  .container {
    height: 100%;
    width: 600px;
    margin: auto;
    margin-top: 10%;
    border: 1px solid #555;
  }
  .btnPadding {
    padding: 5px 0 10px 35px;
  }
  .alignCenter {
    text-align: center;
  }
  .bodyPadding {
    padding: 2px 5px 5px 10px;
  }